@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  @apply bg-mnsPrimary text-gray-900 py-2 px-4 rounded-lg font-bold text-4xl;
}
.button-primary-disabled {
  @apply bg-gray-500 text-gray-900 py-2 px-4 rounded-lg font-bold text-2xl;
}

.MuiLinearProgress-root {
  width: 170px !important;
}

.MuiLinearProgress-colorPrimary {
  background-color: gray !important;
  height: 30px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  z-index: -1 !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: #47c97b !important;
}
.MuiLinearProgress-colorPrimary {
  background-color: #cbc8c8 !important;
}

label {
  @apply flex flex-col my-2 font-bold text-2xl;
}

.input {
  @apply p-2 rounded-lg my-2 w-56;
}

.test {
  position: fixed;
  width: 196px;
  height: 196px;
  left: 109px;
  top: 1vh;
}
